html {
  width: 100%;
  font-family: 'Pretendard', 'Noto Sans KR', 'Noto Sans JP',
    -apple-system, sans-serif;
  font-weight: 400;
  overflow-x: hidden;
  --iwfcv-blue-100: #3DCDE0;
  --iwfcv-blue-200: #36AEF7;
  --iwfcv-blue-300: #3476ED;
  --iwfcv-blue-400: #3E6AF7;
  --iwfcv-blue-500: #403BED;
  --common-text: #000;
  --common-gray: #d1d1d1;
  --common-bg: #fff;
}

body {
  width: 100%;
  color: var(--common-text);
}

main {
  /*width: 100%;*/
  max-width: 720px;
  min-height: 60vh;
  margin: auto;
  padding: 0 1.5em;
  box-sizing: border-box;
  p {
    line-height: 1.6;
    margin-bottom: 1em;
    width: 100%;
  }
}

h1, h2, h3 {
  font-weight: bold;
  line-height: 1.6;
}
h1 { font-size: 2.5em; }
h2 { font-size: 2em; }
h3 { font-size: 1.7em; }
h4 { font-size: 1.5em; }
h5 { font-size: 1.3em; }

b {
  font-weight: bold;
}

a {
  color: var(--iwfcv-blue-300);
  background-color: var(--common-bg);
  transition: .1s ease-in-out;
  font-weight: 500;
  &:hover, &:focus {
    transition: .1s ease-in-out;
    color: var(--common-bg);
    background: var(--iwfcv-blue-300);
  }
}

img {
  width: 100%;
  border-radius: 10px;
  padding: 1em 0;
  &.rect {
    border-radius: 0;
  }
}

article {
  width: 100%;
  header.article-header {
    margin-bottom: 15px;
  }
}

article.category {
  .categories {
    display: flex;
    flex-direction: column;
    gap: 1.3em;
    .each-category {
      h2 {
        margin-bottom: .3em;
      }
      ul {
        display: flex;
        flex-direction: column;
        gap: .3em;
      }
    }
  }
}

.hr {
  margin: auto;
  width: 70%;
  max-width: 300px;
  height: 1.5px;
  border: none;
  background-color: var(--common-gray);
}

::selection {
  color: var(--common-bg);
  background-color: rgba(62, 106, 247, .6);
}
