html {
  width: 100%;
  font-family: 'Pretendard', -apple-system, sans-serif;
  font-weight: 400;
  overflow-x: hidden;
  --iwfcv-blue-100: #3DCDE0;
  --iwfcv-blue-200: #36AEF7;
  --iwfcv-blue-300: #3476ED;
  --iwfcv-blue-400: #3E6AF7;
  --iwfcv-blue-500: #403BED;
}